<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='upload.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon_football_track.png') }}"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='favicon_football_track.png') }}"
    />
    <title>{{ page_title }}</title>
  </head>
  <body>
    <div class="wrapper">{{ img_data }}</div>
  </body>
</html>
